
        body {
            display: flex;
            height: 100vh;
            font-family: Arial, Helvetica, sans-serif;
            background: linear-gradient(135deg, #ffffff, #a1a1a1);
            overflow-x: hidden;
            overflow-y: hidden;
            align-items: center;
            justify-content: center;
            flex-direction: column; /* Ensure new buttons stack vertically */
        }

        .AddMemory, .RemoveMemory {
            width: 120px;
            height: 120px;
            position: fixed;
            border-radius: 20%;
            background-color: aliceblue;
            display: flex;
            align-items: center;
            justify-content: center;
            background: linear-gradient(135deg, #34e46c, #de5757);
            border-width: 5px;
            border-style: solid;
            border-color: black;
            z-index: 9;
        }
        .AddMemory:hover, .RemoveMemory:hover {
            border-width: 5px;
            border-style: solid;
            border-color: red;
        }
        .AddMemory img, .RemoveMemory img {
            width: 80%;
            height: 80%;
            border-radius: 20%;
        }
        .Memory {
            width: 150px;
            height: 250px;
            left: -100%;
            top: -100%;
            position: absolute;
            border-radius: 5%;
            background-color: aliceblue;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column; /* Arrange children in a column */
            border-width: 5px;
            border-style: solid;
            border-color: black;
            transform: translateX(-50%);
            margin-top: 20px;
        }
        .DisplayScripts {
            width: 1500px;
            height: 800px;
            left: 50%;
            top: 0%;
            position: absolute;
            background-color: aliceblue;
            display: flex;
            align-items: center;
            justify-content: center;
            border-width: 5px;
            border-style: solid;
            border-color: black;
            transform: translateX(-50%);
            margin-top: 20px;
            display: none;
            z-index: 9999;
        }
        .DisplayScripts div{
            width: 15000px;
            height: 8000px;
            left: -100%;
            top: -100%;
            position: absolute;
            background-color: rgb(65, 65, 65);
            display: flex;
        }
        .controls {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 10px;
        }
        .controls input,
        .controls select {
            margin: 5px;
        }
        .form-container {
            display: none;
            flex-direction: column;
            align-items: center;
            background: #fff;
            padding: 20px;
            border: 2px solid #000;
            border-radius: 10px;
        }
        .form-container input,
        .form-container button,
        .form-container select {
            margin: 10px;
        }
        .color-inputs, .gradient-inputs {
            display: flex;
        }
        .TextToStore {
            position: fixed;
            left: 3%;
            top: 80%;
            width: 200px;
            height: 100px;
            border-radius: 10px;
            padding: 10px;
            background: white;
            border: 2px solid black;
        }
    